form
  input
    font-size: 36px
    font-family: Georgia, sans-serif

#change-user-form
  float: right
  margin: 0 1em
  form
    input
      font-size: 12px

h1#badge
  position: absolute
  top: -12px
  left: 10px
  height: 110px
  width: 68px
  background: transparent url(cs-icon.png) no-repeat 0 0 
  text-indent: -9999px
  display: block

h1#badge a
  display: block
  outline: none
  height: 100%
  width: 100%

body
  margin: .5em 0
  padding: 0
  background-color: #ccc
  font:
    family: sans-serif
    color: #333

a
  color: darkgrey
  font-weight: bold
  text-decoration: none

h1#logo
  height: 115px
  width: 500px
  background: transparent url(coversrc-logo.png) no-repeat center center
  text-indent: -9999px
  display: block

h1#logo a
  display: block
  outline: none
  height: 100%
  width: 100%

#tags
  padding: 1em
  a
    color: purple
    text-decoration: underline

#centre
  text-align: center
  margin: auto
  padding: 1em 0
  width: 500px
  background-color: #eee
  -webkit-border-radius: 15px
  -moz-border-radius: 15px

#lastfm
  background-color: #fff
  -webkit-border-radius: 15px
  -moz-border-radius: 15px
  padding: 1em 1em 0 1em
  margin: 0 1em 1em 1em
  //background: transparent url(lastfm.png) no-repeat left left
  #now-playing

  #artwork
    img
      border: .5em solid darkgrey
      width: 300px
      //-webkit-transform: rotate(-2deg)
      //-moz-transform: rotate(-2deg)

  #tags
    margin: 0 0 1em 0
    font-size: 18px

  #tags a
    text-decoration: none

  textarea
    font-size: 18px
    width: 400px
    border: none

#releases, #more-info
  background-color: #fff
  -webkit-border-radius: 15px
  -moz-border-radius: 15px
  text-align: left
  padding: 1em
  margin: 0 1em
  font-size: 18px
  font-family: Georgia, sans-serif
  dl
    dd:nth-child(even)
      background: #eee
    dd:nth-child(odd)
      background: #fff
  

.clear
  clear: both

.left
  float: left

.right
  float: right
