form
  margin: 1em 0
  input
    font-size: 36px
    font-family: Georgia, sans-serif

#change-user-form
  float: right
  margin: 0 1em
  form
    input
      font-size: 12px

h1#badge
  position: absolute
  top: -12px
  left: 10px
  height: 110px
  width: 68px
  background: transparent url(cs-icon.png) no-repeat 0 0 
  text-indent: -9999px
  display: block

h1#badge a
  display: block
  outline: none
  height: 100%
  width: 100%

body
  margin: .5em 0
  padding: 0
  //background-color: #ccc
  //background-color: #ac96ae
  background-color: #cbbdcc
  font:
    family: sans-serif
    color: #333

a
  color: #ac96ae
  font-weight: bold
  text-decoration: none

a:hover
  color: #cbbdcc

h1#logo
  height: 115px
  width: 500px
  background: transparent url(coversrc-logo.png) no-repeat center center
  text-indent: -9999px
  display: block

h1#logo a
  display: block
  outline: none
  height: 100%
  width: 100%

#centre
  text-align: center
  margin: auto
  padding: 1em 0
  width: 500px
  background-color: #eee
  -webkit-border-radius: 15px
  -moz-border-radius: 15px


ol
  text-align: left
  font-size: 24px
  font-weight: bold
  font-family: Georgia, serif
  color: #644480
ol li p
  font-size: 18px
  font-weight: normal
  font-style: normal
  font-family: sans-serif
  color: #503f51

#lastfm
  -webkit-border-radius: 15px
  -moz-border-radius: 15px
  padding: 1em
  margin: 0 1em 1em 1em
  background-color: #fff
  position: relative

  #badge img
    position: absolute
    top: 20px
    left: -50px

  #artwork
    img
      border: .5em solid #ac96ae
      width: 300px
      //-webkit-transform: rotate(-2deg)
      //-moz-transform: rotate(-2deg)

  #tags
    font-size: 18px
    padding: 1em

    a
      color: #644480
      text-decoration: underline

#discogs, #more-info, #steps
  -webkit-border-radius: 15px
  -moz-border-radius: 15px
  padding: 1em
  margin: 0 1em 1em 1em
  text-align: left
  font-size: 18px
  background-color: #fff
  position: relative

  #badge img
    position: absolute
    top: 15px
    left: -50px

.clear
  clear: both

.left
  float: left

.right
  float: right
