%form(method="GET" action="/")
  %input(type="text" name="user" id="user" value="my last.fm username")

#steps
  %ol
    %li
      %p Start listening to music. No need to search.
    %li
      %p Notice you have no album artwork! onoes!
    %li
      %p
        Type in your
        %a(href="http://last.fm") last.fm
        username on and hit enter.

%p
  %a(href="\#" id="about")
    Where art thou?

#more-info(style="display:none")
  %em coversrc
  (pronounced cover source) is meant to provide a quick way to get album artwork for your music without installing a program that steals your precious mems.
