%h1#logo
  %a{:href => '/'} Cover Source: Artwork from Last.fm, Discogs and more!

%form(method="GET" action="/")
  %input(type="text" name="user" id="user" value="my last.fm username")

#steps
  %ol
    %li
      %p Start listening to music.
    %li
      %p Notice that what's playing has no album artwork! Ohnoes!
    %li
      %p
        Go to
        %a(href="http://coversrc.com") coversrc.com
        and worry no more.

%p
  %a(href="\#" id="about")
    Where art thou?

#more-info(style="display:none")
  %em coversrc
  (pronounced cover source) is meant to provide a quick way to get album artwork for your music without installing a program that steals your precious mems.
