%h1 Welcome to CoverSrc

%p
  Start by entering your
  %a(href="http://last.fm") last.fm
  user name

%form(method="GET" action="/")
  %input(type="text" name="user")
  %input(type="submit" value="Go")
