!!!
%html
  %head
    %title Cover Source: The easiest way to find album artwork.
    %link(rel="stylesheet" type="text/css" href="/coversrc.css")
    %link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
  
  %body
    - if @user
      %h1#badge
        %a{:href => '/'} Cover Source
      #change-user-form
        %form(method="GET" action="/")
          %label(for="user")= "Not #{@user}?"
          %input(type="text" name="user" size="10")

    #centre
      - unless @user
        %h1#logo
          %a{:href => '/'} Cover Source: Artwork from Last.fm, Discogs and more!

      = yield

  %script{:src => "http://www.google.com/jsapi"}
  %script
    google.load("jquery", "1.3.2");
    google.load("jqueryui", "1.7.2");
  %script(type="text/javascript" src="/coversrc.js")

  :javascript
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

  :javascript
    try {
    var pageTracker = _gat._getTracker("UA-828963-3");
    pageTracker._trackPageview();
    } catch(err) {}

