#lastfm
  #badge
    %img{:src => 'lastfm.png'}

  #lastfm-data
    #loading
      %img{:src => "/loader.gif"}
      Loading Last.fm data...

#discogs
  #badge
    %img{:src => 'discogs.png'}

  #discogs-releases
    #loading
      %img{:src => "/loader.gif"}
      Loading Discogs data...
